body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0;
}

button {
  color: white;
  background-color: #3882f6;
}

.dark-background {
  background-color: #1f2937;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  padding: 0 5% 0 0;
}

nav select {
  display: none;
  font-size: 30px;
  text-align: center;
  padding: 5px;
}

@media (max-width: 600px) {
  nav a     { display: none; }
  nav select { display: inline-block; }
}

.nav-links, a {
  padding: 0 20px;
  text-decoration: none;
  color: aliceblue;
}


.header-logo {
  width: 100px;
  margin: 20px 10%;
}

.gamer-pics {
  flex: 50%;
  padding-left: 2%;
}

.main-pic {
  width: auto;
  height: auto;
}

.subheader {
  display: flex;
  padding: 100px 10%;
}

.subtext {
  flex: 50%
}

@media (max-width: 1018px) {
  .subheader {
    display: flex;
    flex-wrap: wrap;
  }
  
  .gamer-pics {
    padding: 50px 10px;
    margin: auto;
  }

  .main-pic {
    width: 90%;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
  }
}

.subheader p {
  text-align: left;
}

.subheader button {
  background-color: #3882f6;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 22px;
  border: 0;
  text-align: center;
  margin: auto;
}



.content {
  display: flex;
  padding: 100px;
  justify-content: space-between;
  color: black;
}

.content p {
  text-align: center;
}

.white-background h2 {
  color: black;
}

.gray-background {
  background-color: lightgray;
  color: black;
}

.quote, .quoter {
  margin: auto;
  text-align: center;
  font-size: 36px;
  font-style: italic;
  font-weight: light;
  color: rgb(26, 26, 26)
}

.quote {
  padding: 50px 2% 1px 2%;
  
}

.quoter {
  padding: 1px 2% 50px 2%;
}

.carousel-image {
  border: 3px solid #3882f6;
  background-color: rgb(179, 179, 179);
  width: 200px;
  height: 200px;
  border-radius: 20px;
  transition: transform 250ms ease-out;
} 

.blue-background {
  background-color: #3882f6;
  padding: 20px 40px 20px 40px;
  border-radius: 10px;
  margin: 10%;
}

.cta {
  padding: 3% 5%;
  text-align: left;
  display: flex;
}

.cta button {
  border: 2px solid white;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px
}

.cta-child-2 {
  justify-content: end;
  margin: auto;
}

.content-box:hover {
  background-color: lightgrey;
  border-radius: 10px;
  transform: scale(1.1);
  transform-origin: center;

}